// @import '@alifd/next/dist/next.var.css';
// @import '@unocss/reset/normalize.css';
@import '@unocss/reset/tailwind.css';

.input-auto-fill-reset {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset;
    transition: background-color 5000s linear 0s;
  }
}
